
.lsp-session*

# Emacs Backup files - For init.el which is not in the tmp dir
\#*#

# Disbled: Emacs Auto-Save
# *~
# Disable for if init file fails and save in default place:
auto-save-list/

# Emacs Lock Files - Cant be moved to a temp folder
.#*

#Comiled Emacs LISP
*.elc

tmp/
elpa/
transient/
